@import '../../sass/variables.scss';

#navbar{
    min-height:60px;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:$primary;
    background-color: $background;
    z-index:1;
    position:fixed;
    top:0;
    font-size:.8rem;
    padding:10px;
}

@media only screen and (max-width:650px){
    #navbar{
        flex-direction: column;
        position:relative;
        // top:0;
    }
}

#logoText{
    font-weight:1000;
    font-size:1rem;
}

#navbarLinks{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li{
        color:black;
        padding:10px;
    }

    .navbarNavLink{
        text-decoration: none;
    }

    .active{
        li{
            color:$primary;
        }
    }

}

#navbarContactLink{
    text-decoration: none;
    color:black;
    font-size:.9rem;
}

